  .registration {
    background-color: #e8eaf6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .registration form {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 100px;
    border-radius: 15px;
    background-color: #fafafa;
    max-width: 252px;
    height: 100%;
    max-height: 177px;
    width: 100%;
  }
  
  .registration label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
  }  
  .registration input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid #bdbdbd;
    display: block;
    margin-top: 5px;
    outline: none;
  }
  
  .registration button {
     height: 30px;
     padding: 7px;
     margin-top: 15px;
     border-radius: 10px;
     border: 0;
  }
  
  .registration Link {
    height: 30px;
     padding: 7px;
     margin-top: 15px;
     border-radius: 10px;
     border: 0;
     text-decoration: none;
  }
  
  .authorizationLink  {
    margin-top: 45px;
    text-align: center;
    font-size: 14px;
  } 