@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Old Standard TT', serif;
 
  


}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e8eaf6;
}

.App form {
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 100px;
  border-radius: 15px;
  background-color: #fafafa;
}

.App label {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  
}

.App input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 0.5px solid #bdbdbd;
  display: block;
  margin-top: 5px;
  outline: none;
}

.App button {
   height: 30px;
   padding: 7px;
   margin-top: 15px;
   border-radius: 10px;
   border: 0;
   

}

.App Link {
  height: 30px;
   padding: 7px;
   margin-top: 15px;
   border-radius: 10px;
   border: 0;
   text-decoration: none;
  
}

.error {
  padding-top: 15px;
  font-size: 15px;
  color: red;
}